.cards-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  .cards-title {
    font-size: $font-size-xl;
    margin-bottom: $base-margin * 2;
  }
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-radius: $border-radius-xs;
  .card-title {
    font-size: $font-size-lg;
    padding: $base-padding * 3;
    font-weight: bold;
  }
  .card-img-round {
    width: 100%;
    padding-top: 60%;
    position: relative;
    // margin: $base-margin 0 $base-margin * 2 0;
    // width: 50%;
    overflow: hidden;
    // border-radius: 50%;
  }
  .card-img-round > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .card-img-full {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
  .card-img-full > img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-body {
    margin-top: auto;
    justify-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    // margin-top: $base-margin;
    // flex-grow: 1;

    padding: $base-padding * 3;
    font-size: $base-font-size;
    text-align: center;
    a {
      text-decoration: underline;
    }
    // img {
    //   width: 25%;
    //   float: right;
    // }
  }
}
